<!--<div>
    <div data-bind="compose: { model: multiSelect, view: 'views/controls/multiSelect.html' }"></div>
</div>-->
<div class="controls controls-row">
    <label class="span1 small-label">Field 1 Label</label><input class="span2" type="text" placeholder=".span2">
    <label class="span1 small-label">Field 2 Label</label><input class="span2" type="text" placeholder=".span2">
    <label class="span1 small-label">Field 3 Label</label><label class="span2 readonly-label">Read only Value</label>
</div>
<div class="controls controls-row">
    <label class="span1 small-label">Field 4 Label</label><input class="span2" type="text" placeholder=".span2">
    <label class="span1 small-label">Field 5 Label</label><label class="span2 readonly-label">Read only value</label>
    <label class="span1 small-label">Field 6 Label</label><input class="span2" type="text" placeholder=".span2">
</div>
<div class="controls controls-row">
    <label class="span1 small-label">Field 7 Label</label><input class="span5" type="text" placeholder=".span5">
    <label class="span1 small-label">Field 8 Label</label><input class="span2" type="text" placeholder=".span2">
</div>
