<table class="GridTemplate" style="border-collapse: collapse;">
    <thead>
        <tr>
            <!-- ko foreach: $data.columns -->
                <th class="grid-header" data-bind="text: $data.headerText"></th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: $data.itemsOnCurrentPage -->
            <tr data-bind="css: { odd: ($index() + 1) % 2 != 0, even: ($index() + 1) % 2 == 0 }">
                <!-- ko foreach: $parent.columns -->
                    <td class="grid-row" data-bind="text: $parent[$data.rowText]"></td>
                <!-- /ko -->
            </tr>
        <!-- /ko -->
    </tbody>
</table>
<div class="GridTemplate-PageLinks">
    <span>Page:</span>
    <!-- ko foreach: $data.PageNumbers -->
        <a href="#" data-bind="text: $data, click: function() { $parent.currentPageIndex($data-1) }, css: { selected: $data-1 === $parent.currentPageIndex() }"></a>
    <!-- /ko -->
</div>
