body { font-family: arial; font-size: 14px; }
.selected 
{
    color: White;
    background-color: black;    
}
.even 
{
    background-color: lightblue;
    }
.odd {
    background-color: white;
}
th { text-align:left; background-color: Black; color:White; }

.grid-header, .grid-row {
    padding: 0 1em;
}